<?php
declare(strict_types = 1);

require 'vendor/autoload.php';

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude(__DIR__.'/vendor');

return K10r\Codestyle\PHP72::create($finder);
