parameters:
  checkMissingIterableValueType: false
  level: max
  ignoreErrors:
    - message: '#getAssign\(\) on Enlight_View_Default\|null#'
      path: %currentWorkingDirectory%/
    - message: '#assign\(\) on Enlight_View_Default\|null#'
      path: %currentWorkingDirectory%/
  bootstrapFiles:
    - vendor/autoload.php
    - ../../../autoload.php
  excludes_analyse:
    - Controllers
    - vendor
