<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">UnzerPayment</label>
    <label>UnzerPayment</label>

    <version>1.0.1</version>
    <copyright>Unzer GmbH</copyright>
    <license>MIT</license>
    <author>Unzer GmbH, Kellerkinder GmbH</author>
    <link>https://www.unzer.com</link>
    <compatibility minVersion="5.6.0"/>
    <description lang="de">
        <![CDATA[
        <h2>Migration von HeidelPayment zu UnzerPayment</h2>
        <ol>
            <li>Deinstalliere das Heidelpay-Plugin. Achte darauf, dass dabei die gespeicherten Daten des Plugins <strong>nicht</strong> gelöscht werden.</li>
            <li>Installiere und Konfiguriere das Unzer-Plugin.</li>
            <li>Aktiviere die Unzer-Zahlungsarten und ordne sie den entsprechenden Versandarten zu.</li>
            <li>Bestellungen, die mit dem Heidelpay-Plugin durchgeführt wurden, können nun wie gewohnt über das Unzer-Plugin im Shopware Backend bearbeitet werden.</li>
        </ol>
        <br/><br/>
        <h2>Produktinformationen "unzer - Payment Plugin für Shopware ab Version 5.6 - Zahlungen per Kreditkarte,
            Rechnungskauf, SOFORT, ..."</h2>
        <p>Die Omnichannel Payment Solution: Vollständige Zahlungsabwicklung und –management mit Unzer.</p>
        <p>Die Installationsanleitung&nbsp; finden Sie im <a href="https://dev.unzer.de/handbuch-shopware-ab-5-6/" target="_blank">Online-Handbuch</a><br></p>
        <br/>
        <h3><b>Verfügbare Zahlarten:&nbsp;</b></h3>
        <br/>
        <ul>
            <li>Kredit- / Debitkarten</li>
            <li>SEPA / Lastschrift</li>
            <li>Unzer&nbsp;Lastschrift gesichert</li>
            <li>Vorkasse</li>
            <li>Giropay</li>
            <li>SOFORT</li>
            <li>Unzer direct</li>
            <li>iDeal</li>
            <li>EPS</li>
            <li>Prezlewy 24</li>
            <li>Paypal</li>
            <li>Rechnungskauf B2C</li>
            <li>Unzer Rechnungskauf</li>
            <li>Unzer Rechnungskauf gesichert</li>
            <li>AliPay</li>
            <li>WeChat&nbsp;</li>
        </ul>
        <br/><br/>
        <h3>Speicherung für Bezahldaten bei Zahlungsarten:</h3>
        <br/>
        <ul>
            <li>Kredit- / Debitkarten</li>
            <li>Lastschrift (versichert)</li>
        </ul>
        <br/><br/>
        <h3>Weitere Features</h3>
        <br/>
        <ul>
            <li>Installation via Composer möglich</li>
            <li>Einfache Installation über den Community-Store-Download</li>
            <li>Einfache Konfiguration</li>
            <li>Alle Funktionen und Abläufe stehen kostenfrei zum Testen im Test-Betriebsmodus bereit</li>
            <li>Zahlungsabwicklung über das Unzer Merchant Gateway (neue Zahlungsschnittstelle)</li>
            <li>Nahtlose Integration in den Shopware Standard-Checkout-Prozess</li>
            <li>Transaktions-Management aus dem Backend möglich</li>
            <li>Alle Transaktionen werden dafür übersichtlich im Backend von Shopware visualisiert</li>
            <li>Alle administrativen debitorischen Funktionen stehen im Backend zur Verfügung, wie Gutschriften,
                Nachbuchungen oder Stornos
            </li>
            <li>Automatische Meldung des Versands bei gesicherten Zahlarten</li>
            <li>Geldeinzug nach Reservierung von Rechnungsbeträgen</li>
            <li>Stornierung von Rechnungsbeträgen</li>
            <li>Automatische Anpassung des Bezahlstatus für beispielsweise Rechnungskäufe (nach Aktivierung der
                Webhooks)
            </li>
            <li>Automatische Anpassung der Bestellbestätigungs-E-Mail mit allen Bezahlinformationen bei Rechnungskauf
                und Vorkasse (falls Sie dies wünschen)
            </li>
            <li>Quelloffener Code nach neuen Shopware-Plugin-Standards</li>
            <li>Anpassbare und erweiterbare Smarty-Templates für Bezahlarten</li>
            <li>persönlicher Support via E-Mail an <a href="mailto:support@unzer.com">support@unzer.com</a> oder <a
                    href="tel:+4962214310100">+49 (6221) 43101-00</a></li>
        </ul>
        ]]>
    </description>
    <description lang="en">
        <![CDATA[
        <h2>Migration from HeidelPayment to UnzerPayment</h2>
        <ol>
            <li>Uninstall the Heidelpay plugin. Make sure that the stored data of the plugin is <strong>not</strong> deleted.</li>
            <li>Install and configure the Unzer plugin.</li>
            <li>Activate the Unzer payment methods and assign them to the corresponding shipping methods.</li>
            <li>Orders placed with the Heidelpay plugin can now be processed as usual via the Unzer plugin in the Shopware backend.</li>
        </ol>
        <br/><br/>
        <h2>Productinformation "unzer - Payment Plugin for Shopware as of version 5.6 - payments via credit cards,
            direct debit, prepayment, PayPal, SOFORT and more…"</h2>
        <p>You can find the manual at <a href="https://dev.unzer.de/handbuch-shopware-ab-5-6/" target="_blank">https://dev.unzer.de/handbuch-shopware-ab-5-6/</a><br>
        </p>
        <br/>
        <h3><b>Available payment methods</b></h3>
        <br/>
        <ul>
            <li>Credit card / Debit card</li>
            <li>SEPA / Direct debit</li>
            <li>SEPA / Direct debit (secured)</li>
            <li>Prepayment</li>
            <li>giropay</li>
            <li>SOFORT</li>
            <li>Unzer Direct</li>
            <li>iDEAL</li>
            <li>EPS</li>
            <li>Prezlewy24</li>
            <li>PayPal</li>
            <li>Purchase on account B2C</li>
            <li>Unzer Invoice (secured)</li>
            <li>AliPay</li>
            <li>WeChat Pay</li>
        </ul>
        <br/><br/>
        <h3>Feature List:</h3>
        <br/>
        <p><b>Registration of payment data for following payment methods:</b></p>
        <br/>
        <ul>
            <li>Credit card &amp; Debit card</li>
            <li>SEPA / Direct debit (secured)</li>
        </ul>
        <br/><br/>
        <p><b>Additional features:</b></p>
        <br/>
        <ul>
            <li>Installation via Composer possible</li>
            <li>Simple installation via Community-Store-Download</li>
            <li>Easy configuration</li>
            <li>all features and processes can&nbsp; be tested completely free of charge in a test operating mode</li>
            <li>Payment processing via unzer Merchant Gateway (new payment interface)</li>
            <li>Seamless integration with standard Shopware checkout process</li>
            <li>Transaction management is possible from the backend</li>
            <li>All transactions are clearly visualized in&nbsp; the&nbsp; backend of Shopware</li>
            <li>Here are all administrative debit-side functions available, such as credit memos, follow-up postings or
                reversals
            </li>
            <li>Sending notification for insured payment methods</li>
            <li>Money collection after reservation of invoice amounts</li>
            <li>Reversals of invoice amounts</li>
            <li>Automatic adjustment of the payment status for e.g. invoice purchases (after activation of webhooks)
            </li>
            <li>Automatic adaptation of an order confirmation e-mail with invoice purchase transferinformation if you
                want
            </li>
            <li>Open source code according to new Shopware plugin standards</li>
            <li>Customizable / extensible Smarty templates for payment methods</li>
            <li>personal support via <a href="mailto:support@unzer.com">support@unzer.com</a> or <a
                    href="tel:+4962214310100">+49 (6221) 43101-00</a></li>
        </ul>
        ]]>
    </description>

    <changelog version="1.0.1">
        <changes lang="de">
            <![CDATA[
            <ul>
                <li>Korrektur eines Fehlers bei der Datumsauswahl im Datepicker</li>
                <li>Korrektur eines Fehlers in der Administration wobei die falsche Konfiguration für Unzer verwendet wurde</li>
                <li>Kompatibilität mit Shopware 5.7 hergestellt</li>
                <li>Korrektur eines Fehlers bei der Anzeige des Geburtstagsfeldes für Finanzierungszahlarten</li>
                <li>Löschen aller vorhandener Webhooks bei neuer Registrierung auf den aktuellen Shop eingegrenzt</li>
                <li>Validierung des Geburtsdatums für Unzer Ratenzahlung im Checkout hinzugefügt</li>
                <li>Korrektur eines Fehlers bei der Registrierung von PayPal Accounts</li>
            </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
            <ul>
                <li>Fixed an error when selecting a date through the datepicker</li>
                <li>Fixed an error at reading the Pluginconfiguration in order management</li>
                <li>Added compatibility to Shopware 5.7</li>
                <li>Fixed an error when birthday is required for financing</li>
                <li>Limited deletion of all existing webhooks while registering a new webhook to the current shop</li>
                <li>Added birthdate validation to payment method Unzer installment in checkout</li>
                <li>Fixed an error on registration of a PayPal account</li>
            </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">
            <![CDATA[
            <ul>
                <li>Markenumstellung</li>
                <li>Korrektur eines Fehlers für FlexiPay Lastschrift (gesichert) für gespeicherte Lastschriftkonten</li>
                <li>Format der Geburtstagsangabe im Checkout wurde vereinheitlicht</li>
                <li>Das erweiterte Logging wurde verbessert und erweitert.</li>
                <li>Korrektur eines Fehlers für wiederkehrende Kreditkarten Zahlung in Verbindung mit SwagAboCommerce</li>
                <li>Korrektur der Validierung des Geburtsdatums für FlexiPay Rechnung für B2B</li>
                <li>Korrektur der Warenkorb Verarbeitung</li>
                <li>Übergabe von Gutscheinen an Unzer-Zahlungsschnittstelle verbessert</li>
                <li>Neue Zahlungsart: Flexipay® Instalment</li>
                <li>Integration von Reservierung und Registrierung für PayPal</li>
                <li>Kompatibilität zu Advanced Promotion Suite hergestellt</li>
                <li>Fehler bei steuerfreien Ländern behoben</li>
                <li>Anzeige der TXN-ID in der Bestellübersicht</li>
                <li>Behebt ein Problem mit der Weiterleitung auf die Bestellbestätigungseite mit konfiguriertem Mindestbestellwert in der Kundengruppe</li>
                <li>Behebt ein Problem mit Rundungen</li>
                <li>Anpassung an der Zahlungsvalidierung und der Struktur von internen Diensten</li>
                <li>Verbessert die Darstellung des Zahlungsstatus an der Transaktion</li>
                <li>Behebt ein Problem mit der Übermittlung von Bruttopreise</li>
                <li>Behebt das Fehlen von Kundendaten bei B2B-Kunden (Vor- /Nachname) im hIP</li>
                <li>Behandelt ein Problem mit der Übermittlung von Gutscheinen</li>
                <li>Diverse weitere Verbesserungen</li>
                <li>Fehlerbehebung für Bundesländer in Adressen</li>
                <li>Erstveröffentlichung Shopware Community Store</li>
            </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
            <ul>
                <li>Rebranding</li>
                <li>Fixed an error with FlexiPay Direct Debit (secured) for saved bank accounts</li>
                <li>Birthday input format in the checkout got standardized</li>
                <li>The extended logging was improved</li>
                <li>Fixed an error of credit card payments in combination with AboCommerce orders</li>
                <li>Fixed the validation of the birthdate for FlexiPay invoice for B2B</li>
                <li>Fixed the shopping cart hydration</li>
                <li>Handover of vouchers to unzer-paymentgateway improved</li>
                <li>New payment method: Flexipay® Instalment</li>
                <li>Integration of reserveration and registration for PayPal</li>
                <li>Compatibility with Advanced Promotion Suite established</li>
                <li>Fixed a bug with taxfree countries</li>
                <li>Display of the TXN-ID in the order overview</li>
                <li>Troubleshooting the redirection to the checkout finish page with a configured minimum amount in the customer group</li>
                <li>Troubleshooting for rounding</li>
                <li>Adjustment to the validation of payments and the structure of internal services</li>
                <li>Improves the view of paymentstates for a transaction</li>
                <li>Troubleshooting for the transmission of gross prices</li>
                <li>Troubleshooting for the missing data (pre- / surname) for b2b customers</li>
                <li>Handles a bug with vouchers</li>
                <li>several improvements of code and actions</li>
                <li>Troubleshooting for federal states in addresses</li>
                <li>First release Shopware Community Store</li>
            </ul>
            ]]>
        </changes>
    </changelog>
</plugin>
