<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">heidelpay</label>
    <label>heidelpay</label>

    <version>1.0.2</version>
    <copyright>heidelpay GmbH</copyright>
    <license>MIT</license>
    <author>heidelpay GmbH, Kellerkinder Pluginwerk GmbH</author>
    <link>https://www.heidelpay.com</link>
    <compatibility minVersion="5.6.0" />

    <changelog version="1.0.2">
        <changes lang="de">Anpassung an der Zahlungsvalidierung und der Struktur von internen Diensten</changes>
        <changes>Adjustment to the validation of payments and the structure of internal services</changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Fehlerbehebung für Bundesländer in Adressen</changes>
        <changes>Troubleshooting for federal states in addresses</changes>
    </changelog>	
    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung Shopware Community Store</changes>
        <changes>First release Shopware Community Store</changes>
    </changelog>
</plugin>
