<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">heidelpay</label>
    <label>heidelpay</label>

    <version>1.2.0</version>
    <copyright>heidelpay GmbH</copyright>
    <license>MIT</license>
    <author>heidelpay GmbH, Kellerkinder Pluginwerk GmbH</author>
    <link>https://www.heidelpay.com</link>
    <compatibility minVersion="5.6.0"/>

    <changelog version="1.2.0">
        <changes lang="de">
            <![CDATA[
               <ul>
                   <li>Neue Zahlungsart: Flexipay® Instalment</li>
                   <li>Integration von Reservierung und Registrierung für PayPal</li>
                   <li>Kompatibilität zu Advanced Promotion Suite hergestellt</li>
                   <li>Fehler bei steuerfreien Ländern behoben</li>
               </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
               <ul>
                   <li>New payment method: Flexipay® Instalment</li>
                   <li>Integration of reserveration and registration for PayPal</li>
                   <li>Compatibility with Advanced Promotion Suite established</li>
                   <li>Fixed a bug with taxfree countries</li>
               </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.2"><changes lang="de">
        <![CDATA[
               <ul>
                   <li>Behebt ein Problem mit der Weiterleitung auf die Bestellbestätigungseite mit konfiguriertem Mindestbestellwert in der Kundengruppe</li>
               </ul>
            ]]>
    </changes>
        <changes>
            <![CDATA[
               <ul>
                   <li>Troubleshooting the redirection to the checkout finish page with a configured minimum amount in the customer group</li>
               </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="de">
            <![CDATA[
               <ul>
                   <li>Behebt ein Problem mit Rundungen</li>
               </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
               <ul>
                   <li>Troubleshooting for rounding</li>
               </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">
            <![CDATA[
               <ul>
                   <li>Anpassung an der Zahlungsvalidierung und der Struktur von internen Diensten</li>
                   <li>Verbessert die Darstellung des Zahlungsstatus an der Transaktion</li>
                   <li>Behebt ein Problem mit der Übermittlung von Bruttopreise</li>
                   <li>Behebt das Fehlen von Kundendaten bei B2B-Kunden (Vor- /Nachname) im hIP</li>
                   <li>Behandelt ein Problem mit der Übermittlung von Gutscheinen</li>
                   <li>Diverse weitere Verbesserungen</li>
               </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
               <ul>
                   <li>Adjustment to the validation of payments and the structure of internal services</li>
                   <li>Improves the view of paymentstates for a transaction</li>
                   <li>Troubleshooting for the transmission of gross prices</li>
                   <li>Troubleshooting for the missing data (pre- / surname) for b2b customers</li>
                   <li>Handles a bug with vouchers</li>
                   <li>several improvements of code and actions</li>
               </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes lang="de">Fehlerbehebung für Bundesländer in Adressen</changes>
        <changes>Troubleshooting for federal states in addresses</changes>
    </changelog>
    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung Shopware Community Store</changes>
        <changes>First release Shopware Community Store</changes>
    </changelog>
</plugin>
