<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="select" scope="shop">
            <name>transaction_mode</name>
            <label lang="de">Live- / Testbetrieb</label>
            <label>Live or Testmode</label>
            <description lang="de">Wechseln Sie hier den Modus zwischen Live- und Testbetrieb</description>
            <description>Switch between live and test mode</description>
            <store>
                <option>
                    <value>test</value>
                    <label lang="de">Test Modus</label>
                    <label>test mode</label>
                </option>
                <option>
                    <value>live</value>
                    <label lang="de">Live Modus</label>
                    <label>live mode</label>
                </option>
            </store>
        </element>

        <element type="button">
            <name>general_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Allgemein ---</label>
            <label>--- Credentials: General ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop" required="true">
            <name>public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop" required="true">
            <name>private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_invoice_b2b_eur_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Rechnungskauf B2B EUR ---</label>
            <label>--- Credentials: Paylater Invoice B2B EUR ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2b_eur_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2b_eur_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_invoice_b2b_chf_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Rechnungskauf B2B CHF ---</label>
            <label>--- Credentials: Paylater Invoice B2B CHF ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2b_chf_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2b_chf_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_invoice_b2c_eur_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Rechnungskauf B2C EUR ---</label>
            <label>--- Credentials: Paylater Invoice B2C EUR ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2c_eur_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2c_eur_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_invoice_b2c_chf_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Rechnungskauf B2C CHF ---</label>
            <label>--- Credentials: Paylater Invoice B2C CHF ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2c_chf_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_invoice_b2c_chf_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_installment_b2c_eur_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Ratenkauf B2C EUR ---</label>
            <label>--- Credentials: Paylater Installment B2C EUR ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_installment_b2c_eur_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_installment_b2c_eur_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_installment_b2c_chf_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Ratenkauf B2C CHF ---</label>
            <label>--- Credentials: Paylater Installment B2C CHF ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_installment_b2c_chf_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_installment_b2c_chf_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button">
            <name>paylater_direct_debit_secured_b2c_eur_credentials_separator</name>
            <label lang="de">--- Zugangsdaten: Lastschrift B2C EUR ---</label>
            <label>--- Credentials: Direct Debit B2C EUR ---</label>
            <options>
                <options>
                    <disabled>true</disabled>
                </options>
            </options>
        </element>

        <element scope="shop">
            <name>paylater_direct_debit_secured_b2c_eur_public_key</name>
            <label lang="de">Public Key</label>
            <label>Public Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den Public Key ein</description>
            <description>Please enter the Unzer public key</description>
        </element>

        <element scope="shop">
            <name>paylater_direct_debit_secured_b2c_eur_private_key</name>
            <label lang="de">Private Key</label>
            <label>Private Key</label>
            <description lang="de">Tragen Sie hier aus den Unzer-Zugangsdaten den "Private Key" ein</description>
            <description>Please enter the Unzer private key</description>
        </element>

        <element type="button" scope="shop">
            <name>test_credentials</name>
            <label>Test API credentials</label>
            <label lang="de">API Zugangsdaten testen</label>
            <options>
                <handler>
                    <![CDATA[
                        function(button) {
                            Ext.Ajax.request({
                                method: 'GET',
                                url: 'unzer-payment/testCredentials',
                                success: function(response) {
                                    var result = null;

                                    try {
                                        result = JSON.parse(response.responseText);
                                    } catch (e) {
                                        Ext.MessageBox.show({
                                           title: 'Zugangsdaten - Fehler',
                                           msg: 'Die Zugangsdaten konnten aus einem unbekannten Grund nicht geprüft werden. Bitte vergewissern Sie sich, dass das Plugin aktiviert wurde, die Einstellungen korrekt sind und das Formular gespeichert wurde.',
                                           buttons: Ext.MessageBox.OK,
                                           icon: Ext.window.MessageBox.ERROR
                                        });

                                        return;
                                    }

                                    if (result.success) {
                                        Ext.MessageBox.show({
                                            title: 'Zugangsdaten - Erfolg',
                                            msg: 'Die Überprüfung der Zugangsdaten war erfolgreich.',
                                            buttons: Ext.MessageBox.OK,
                                            icon: Ext.window.MessageBox.INFO
                                        });
                                    } else {
                                        Ext.MessageBox.show({
                                            title: 'Zugangsdaten - Fehler',
                                            msg: 'Die Überprüfung der Zugangsdaten schlug mit folgender Meldung fehl: ' + result.message,
                                            buttons: Ext.MessageBox.OK,
                                            icon: Ext.window.MessageBox.ERROR
                                        });
                                    }
                                }
                            });
                        }
                    ]]>
                </handler>
            </options>
        </element>

        <element type="boolean" scope="shop">
            <name>order_creation_via_webhook</name>
            <label lang="de">Automatische Auftragserstellung über Webhook zulassen</label>
            <label>Allow automatic order creation via webhook</label>
            <description lang="de">Wenn aktiviert, wird die Bestellung bei der Ausführung eines Webhooks erstellt, auch wenn der Kunde die Seite schließt, bevor er zum Shop zurückkehrt.</description>
            <description>If activated, the order is created when a webhook is executed, even if the customer closes the page before returning to the shop.</description>
        </element>

        <element scope="shop">
            <name>apple_pay_merchant_id</name>
            <label lang="de">Apple Pay Merchant Identifier</label>
            <label>Apple Pay Merchant Identifier</label>
            <description lang="de">Verfügbar im Apple Developer Account</description>
            <description>Available in your Apple Developer account</description>
        </element>

        <element type="button" scope="shop">
            <name>manage_apple_pay_certificates</name>
            <label>Manage Apple Pay certificates</label>
            <label lang="de">Apple Pay Zertifikate verwalten</label>
            <options>
                <handler>
                    <![CDATA[
                        function(button) {
                            Shopware.ModuleManager.createSimplifiedModule("ApplePayCertificateManager", { "title": "Apple Pay Certificate Manager", "width": "995px" })
                        }
                    ]]>
                </handler>
            </options>
        </element>

        <element type="select" scope="shop">
            <name>apple_pay_bookingmode</name>
            <label lang="de">Buchungsmodus für Apple Pay</label>
            <label>Booking mode for Apple Pay</label>
            <description lang="de">Wählen Sie hier, ob die Zahlung direkt gebucht (direct) oder nur reserviert (auth) werden soll. Bei reservierten Zahlungen ist eine spätere Belastung (charge) notwendig.</description>
            <description>Select whether the payment is to be debited directly (direct) or reserved only (auth). With reserved payments a later charge is necessary.</description>
            <store>
                <option>
                    <value>charge</value>
                    <label lang="de">Direkte Buchung</label>
                    <label>Charge instantly</label>
                </option>
                <option>
                    <value>authorize</value>
                    <label lang="de">Reservierung</label>
                    <label>Reservation</label>
                </option>
            </store>
        </element>

        <element type="select" scope="shop">
            <name>credit_card_bookingmode</name>
            <label lang="de">Buchungsmodus für Kreditkarte</label>
            <label>Booking mode for credit cards</label>
            <description lang="de">Wählen Sie hier, ob die Karte direkt belastet (direct) oder nur reserviert (auth) werden soll. Bei reservierten Zahlungen ist eine spätere Belastung (charge) notwendig.</description>
            <description>Select whether the card is to be debited directly (direct) or reserved only (auth). With reserved payments a later charge is necessary.</description>
            <store>
                <option>
                    <value>charge</value>
                    <label lang="de">Direkte Buchung</label>
                    <label>Charge instantly</label>
                </option>
                <option>
                    <value>authorize</value>
                    <label lang="de">Reservierung</label>
                    <label>Reservation</label>
                </option>
            </store>
        </element>

        <element type="select" scope="shop">
            <name>paypal_bookingmode</name>
            <label lang="de">Buchungsmodus Paypal</label>
            <label>Booking mode Paypal</label>
            <description lang="de">Wählen Sie hier, ob das PayPal Konto direkt belastet (charge) oder nur reserviert (auth) werden soll. Bei reservierten Zahlungen ist eine spätere Belastung (charge) notwendig.</description>
            <description>Choose whether the PayPal account should be charged directly (charge) or only reserved (auth). With reserved payments a later charge is necessary.</description>
            <store>
                <option>
                    <value>charge</value>
                    <label lang="de">Direkte Buchung</label>
                    <label>Charge instantly</label>
                </option>
                <option>
                    <value>authorize</value>
                    <label lang="de">Reservierung</label>
                    <label>Reservation</label>
                </option>
            </store>
        </element>

        <element type="select" scope="shop">
            <name>google_pay_bookingmode</name>
            <label lang="de">Buchungsmodus für Google Pay</label>
            <label>Booking mode for Google Pay</label>
            <description lang="de">Wählen Sie hier, ob die Zahlung direkt gebucht (direct) oder nur reserviert (auth) werden soll. Bei reservierten Zahlungen ist eine spätere Belastung (charge) notwendig.</description>
            <description>Select whether the payment is to be debited directly (direct) or reserved only (auth). With reserved payments a later charge is necessary.</description>
            <store>
                <option>
                    <value>charge</value>
                    <label lang="de">Direkte Buchung</label>
                    <label>Charge instantly</label>
                </option>
                <option>
                    <value>authorize</value>
                    <label lang="de">Reservierung</label>
                    <label>Reservation</label>
                </option>
            </store>
        </element>

        <element scope="shop">
            <name>google_pay_merchant_id</name>
            <label lang="de">Google Pay Händler ID</label>
            <label>Google Pay Merchant ID</label>
            <description lang="de">Wird im Google Konto angezeigt</description>
            <description>Provided by Google in the merchant info field</description>
        </element>

        <element scope="shop">
            <name>google_pay_merchant_name</name>
            <label lang="de">Google Pay Händler Name</label>
            <label>Google Pay Merchant Name</label>
            <description lang="de">Wird im Google Konto angezeigt</description>
            <description>Provided by Google in the merchant info field</description>
        </element>

        <element type="select" scope="shop">
            <name>google_pay_country_code</name>
            <label lang="de">Google Pay Land</label>
            <label>Google Pay Country Code</label>
            <value>DK</value>
            <description lang="de">Ländercode des Acquirers</description>
            <description>Country code of the acquirer</description>
            <store>
                <option>
                    <value>DK</value>
                    <label lang="de">DK (Standard)</label>
                    <label>DK (default)</label>
                </option>
                <option>
                    <value>CH</value>
                    <label lang="de">CH</label>
                    <label>CH</label>
                </option>
            </store>
        </element>

        <element type="boolean" scope="shop">
            <name>google_pay_credit_cards_allowed</name>
            <label lang="de">Google Pay Kreditkarten zulassen</label>
            <label>Google Pay Allow Credit Cards</label>
            <value>1</value>
        </element>

        <element type="boolean" scope="shop">
            <name>google_pay_prepaid_cards_allowed</name>
            <label lang="de">Google Pay Prepaid-Karten zulassen</label>
            <label>Google Pay Allow Prepaid Cards</label>
            <value>1</value>
        </element>

        <element type="boolean" scope="shop">
            <name>google_pay_card_networks_mastercard</name>
            <label lang="de">Google Pay Mastercard-Karten zulassen</label>
            <label>Google Pay Allow Mastercard Cards</label>
            <value>1</value>
        </element>

        <element type="boolean" scope="shop">
            <name>google_pay_card_networks_visa</name>
            <label lang="de">Google Pay Visa-Karten zulassen</label>
            <label>Google Pay Allow Visa Cards</label>
            <value>1</value>
        </element>

        <element type="select" scope="shop">
            <name>google_pay_button_color</name>
            <label lang="de">Google Pay Button Farbe</label>
            <label>Google Pay Button Color</label>
            <value>default</value>
            <store>
                <option>
                    <value>default</value>
                    <label lang="de">Google Standard</label>
                    <label>Google's default</label>
                </option>
                <option>
                    <value>black</value>
                    <label lang="de">Schwarz</label>
                    <label>Black</label>
                </option>
                <option>
                    <value>white</value>
                    <label lang="de">Weiß</label>
                    <label>White</label>
                </option>
            </store>
        </element>

        <element type="select" scope="shop">
            <name>google_pay_button_size_mode</name>
            <label lang="de">Google Pay Button Größe</label>
            <label>Google Pay Button Size Mode</label>
            <value>fill</value>
            <store>
                <option>
                    <value>fill</value>
                    <label lang="de">Volle Breite</label>
                    <label>Full Width</label>
                </option>
                <option>
                    <value>static</value>
                    <label lang="de">Statisch</label>
                    <label>Static</label>
                </option>
            </store>
        </element>

        <element type="button" scope="shop">
            <name>show_google_pay_gateway_id</name>
            <label>Show Google Pay Gateway Merchant ID (the channel ID provided by Unzer)</label>
            <label lang="de">Google Pay Gateway Händler ID anzeigen (die von Unzer bereitgestellte Channel ID)</label>
            <options>
                <handler>
                    <![CDATA[
                        function(button) {
                            Ext.Ajax.request({
                                method: 'GET',
                                url: 'unzer-payment/fetchGoogleGatewayId',
                                success: function(response) {
                                    var result = null;

                                    try {
                                        result = JSON.parse(response.responseText);
                                    } catch (e) {
                                        Ext.MessageBox.show({
                                           title: 'Google Gateway ID - Fehler',
                                           msg: 'Die Google Gateway Händler ID konnten aus einem unbekannten Grund nicht abegerufen werden. Bitte vergewissern Sie sich, dass das Plugin aktiviert wurde, die Einstellungen korrekt sind und das Formular gespeichert wurde.',
                                           buttons: Ext.MessageBox.OK,
                                           icon: Ext.window.MessageBox.ERROR
                                        });

                                        return;
                                    }

                                    if (result.gatewayId) {
                                        Ext.MessageBox.show({
                                            title: 'Google Gateway Merchant ID',
                                            msg: result.gatewayId,
                                            buttons: Ext.MessageBox.OK,
                                            icon: Ext.window.MessageBox.INFO
                                        });
                                    }
                                }
                            });
                        }
                    ]]>
                </handler>
            </options>
        </element>

        <element type="boolean" scope="shop">
            <name>populate_document_invoice</name>
            <label lang="de">Bei Kauf auf Rechnung Rechnungsdokument anpassen</label>
            <label>Customize invoice document for invoice purchases</label>
            <description lang="de">Die Überweisungsdaten werden automatisch in die Rechnungsdokumente eingefügt. Dies betrifft nur den Rechnungskauf.</description>
            <description>The bank transfer data will automatically be inserted into the invoice documents. This applies to an invoice purchase only.</description>
        </element>

        <element type="boolean" scope="shop">
            <name>populate_document_prepayment</name>
            <label lang="de">Bei Kauf auf Vorkasse Rechnungsdokument anpassen</label>
            <label>Customize invoice document for prepayment purchases</label>
            <description lang="de">Die Überweisungsdaten werden automatisch in die Rechnungsdokumente eingefügt. Dies betrifft nur die Zahlung auf Vorkasse.</description>
            <description>The bank transfer data will automatically be inserted into the invoice documents. This applies to a prepayment purchase only.</description>
        </element>

        <element type="boolean" scope="shop">
            <name>extended_logging</name>
            <label lang="de">Erweitertes logging aktivieren</label>
            <label>Enable extended logging</label>
            <description lang="de">Durch Aktivierung wird jeder API call in eine Logdatei geschrieben.</description>
            <description>If active any API call will be logged into a logfile.</description>
        </element>

        <element type="boolean" scope="shop">
            <name>automatic_payment_status</name>
            <label lang="de">Automatischer Wechsel des Zahlungsstatus</label>
            <label>Automatic update of the payment status</label>
            <description lang="de">Wenn aktiviert wird bei Änderungen über das Backend an einer Zahlung gleichzeitig auch der Zahlungsstatus der dazugehörigen Bestellung aktualisiert. Dies ist auch dann der Fall, wenn keine Webhooks registriert wurden.</description>
            <description>When active, changes made to a payment in the backend will update the payment status of the corresponding order. This is also the case if no webhooks have been registered.</description>
        </element>

        <element type="combo" scope="shop">
            <name>shipping_status</name>
            <label lang="de">Bestellstatus für Versandnachricht</label>
            <label>Order status for shipment notification</label>
            <description lang="de">Wird der Bestellstatus einer Bestellung auf den hier angegeben Status geändert erfolgt eine Versandbenachrichtigung an Unzer. Die Versandbenachrichtigung erfolgt nur für Rechnung (gesichert). Damit keine Versandbenachrichtigung erfolgt geben Sie hier bitte keinen Status an.</description>
            <description>If the order status of an order is changed to the status indicated here, a shipping notification will be sent to Unzer. The shipping notification is only for invoice (guaranteed). Please do not enter a status here so that no shipping notification will be sent.</description>
            <store>Shopware.apps.Base.store.OrderStatus</store>
            <options>
                <valueField>id</valueField>
                <displayField>description</displayField>
            </options>
        </element>

        <element type="button" scope="shop">
            <name>register_webhooks_button</name>
            <label>Register webhooks</label>
            <label lang="de">Webhooks registrieren</label>
            <options>
                <handler>
                    <![CDATA[
                        function(button) {
                            var fieldName = button.name;
                            var regex = /^values\[(\d)+\]\[\d+\]$/gm;

                            var shopId = null;

                            while ((m = regex.exec(fieldName)) !== null) {
                                // This is necessary to avoid infinite loops with zero-width matches
                                if (m.index === regex.lastIndex) {
                                    regex.lastIndex++;
                                }

                                shopId = m[1];
                            }

                            Ext.Ajax.request({
                                method: 'GET',
                                url: 'unzer-payment/registerWebhooks',
                                params: {
                                    'shopId': shopId,
                                },
                                success: function(response) {
                                    var result = null;

                                    try {
                                        result = JSON.parse(response.responseText);
                                    } catch (e) {
                                        Ext.MessageBox.show({
                                           title: 'Webhooks',
                                           msg: 'Die Webhooks konnten aus einem unbekannten Grund nicht registriert werden. Bitte vergewissern Sie sich, dass das Plugin aktiviert wurde und die Einstellungen korrekt sind.',
                                           buttons: Ext.MessageBox.OK,
                                           icon: Ext.window.MessageBox.ERROR
                                        });

                                        return;
                                    }

                                    if (result.success) {
                                        Ext.MessageBox.show({
                                            title: 'Webhooks',
                                            msg: 'Die Webhooks wurden erfolgreich registriert.',
                                            buttons: Ext.MessageBox.OK,
                                            icon: Ext.window.MessageBox.INFO
                                        });
                                    } else {
                                        Ext.MessageBox.show({
                                            title: 'Webhooks',
                                            msg: 'Die Webhooks konnten aus folgendem Grund nicht registriert werden: ' + result.message,
                                            buttons: Ext.MessageBox.OK,
                                            icon: Ext.window.MessageBox.ERROR
                                        });
                                    }
                                }
                            });
                        }
                    ]]>
                </handler>
            </options>
        </element>
    </elements>
</config>
