<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="unzer_payment.status_mapper.ali_pay" class="UnzerPayment\Components\PaymentStatusMapper\AliPayStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.credit_card" class="UnzerPayment\Components\PaymentStatusMapper\CreditCardStatusMapper" public="true">
            <argument type="service" id="snippets"/>
            <argument type="service" id="unzer_payment.services.config_reader"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.apple_pay" class="UnzerPayment\Components\PaymentStatusMapper\ApplePayStatusMapper" public="true">
            <argument type="service" id="snippets"/>
            <argument type="service" id="unzer_payment.services.config_reader"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.eps" class="UnzerPayment\Components\PaymentStatusMapper\EpsStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.direct" class="UnzerPayment\Components\PaymentStatusMapper\UnzerDirectStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.giropay" class="UnzerPayment\Components\PaymentStatusMapper\GiropayStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.installment_secured" class="UnzerPayment\Components\PaymentStatusMapper\InstallmentSecuredStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.paylater_direct_debit_secured" class="UnzerPayment\Components\PaymentStatusMapper\PaylaterDirectDebitSecuredStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.paylater_installment" class="UnzerPayment\Components\PaymentStatusMapper\PaylaterInstallmentStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.ideal" class="UnzerPayment\Components\PaymentStatusMapper\IdealStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.invoice_secured" class="UnzerPayment\Components\PaymentStatusMapper\InvoiceSecuredStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.invoice" class="UnzerPayment\Components\PaymentStatusMapper\InvoiceStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.paylater_invoice" class="UnzerPayment\Components\PaymentStatusMapper\PaylaterInvoiceStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.pay_pal" class="UnzerPayment\Components\PaymentStatusMapper\PayPalStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.prepayment" class="UnzerPayment\Components\PaymentStatusMapper\PrepaymentStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.przelewy" class="UnzerPayment\Components\PaymentStatusMapper\PrzelewyStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.sepa_direct_debit_secured" class="UnzerPayment\Components\PaymentStatusMapper\SepaDirectDebitSecuredStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.sepa_direct_debit" class="UnzerPayment\Components\PaymentStatusMapper\SepaDirectDebitStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.sofort" class="UnzerPayment\Components\PaymentStatusMapper\SofortStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.we_chat" class="UnzerPayment\Components\PaymentStatusMapper\WeChatStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.bancontact" class="UnzerPayment\Components\PaymentStatusMapper\BancontactStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.google_pay" class="UnzerPayment\Components\PaymentStatusMapper\GooglePayStatusMapper">
            <argument type="service" id="snippets"/>
            <argument type="service" id="unzer_payment.services.config_reader"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

        <service id="unzer_payment.status_mapper.twint" class="UnzerPayment\Components\PaymentStatusMapper\TwintStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>
        <service id="unzer_payment.status_mapper.open_banking" class="UnzerPayment\Components\PaymentStatusMapper\OpenBankingStatusMapper">
            <argument type="service" id="snippets"/>

            <tag name="unzer_payment.payment.status_mapper" />
        </service>

    </services>
</container>
