.unzerUI.input input {
  box-sizing: content-box;
}

.unzerUI.left {
  float: none;
}

.unzerUI.checkbox {
  border: 0;
  width: auto;
  height: auto;
}

#unzerPaymentBirthdayContainer input[type="date"]{
  padding:0.25rem;
  margin-bottom: 0.5rem;
}
